<template>
  <div id="auth">
    <h2>{{ authText }}</h2>
    <input type="text" v-model="pin" maxlength="6" @input="checkPIN" />
    <h2>{{ authenticated }}</h2>
  </div>
</template>

<script>
const axios = require('axios');
let data = {
  authText: 'Enter your six digit PIN below',
  pin : '',
  authenticated : ''
};

export default {
  data () {
    return data
  },
  methods: {
    checkPIN () {
      if (this.pin.length == 6) {
        axios
        .get(`http://localhost:3000/checkpin/${this.pin}`)
        .then(response => this.authenticated = response.data)
      }
      else {
        this.authenticated = ''
      }
    }
  }
}
</script>